.dreamCatalog {
  padding: 24px 16px 80px;

  &__title {
    margin-bottom: 24px;

    font-family: 'Futura-medium', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;

    @include onDesktop {
      font-family: 'Futura-medium', sans-serif;
      font-size: 56px;
      font-weight: 500;
      line-height: 67px;
      letter-spacing: 0em;
      text-align: center;
    }
  }

  &__title::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 102px;
    left: 120px;
    z-index: -1;
    width: 16px;
    height: 16px;

    background-color: $yellow;
    border-radius: 50% 50% 0 50%;

    @include onDesktop {
      width: 47px;
      height: 47px;
      top: 135px;
      left: 597px;
    }
  }

  &__cards {

    display: block;

    @include onDesktop {
      display: grid;
      gap: 40px 16px;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
    }
  }
}