.make-it-happen {
  position: relative;
  padding: 0 16px;

  &__title {
    margin-bottom: 8px;
    font-family: 'Futura', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;

    color: #111111;
  }

  &__text {
    margin-bottom: 25px;
    max-width: 288px;
    font-family: 'Mukta', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 130%;

    color: #2F2F35;
  }

  &__images {
    margin-bottom: 24px;

    &__cat {
      position: absolute;
      width: 60px;
      height: 100px;
      left: 76px;
      top: 141px;

      background: $yellow;
      border-radius: 90px;
      background-image: url('../../images/homePage/cat.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &__heart {
      position: absolute;
      width: 60px;
      height: 60px;
      left: 152px;
      top: 131px;
      background-color: $light-blue;
      border-radius: 50%;
      background-image: url('../../images/icons/full-filled-heart.png');
      background-repeat: no-repeat;
      background-position: 50% 60%;
      background-size: 35px;
    }

    &__dog{
      position: absolute;
      width: 60px;
      height: 100px;
      left: 224px;
      background-image: url('../../images/homePage/dog.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border-radius: 90px;
      overflow: hidden;
    }

    &__yellow-el {
      position: absolute;
      width: 14px;
      height: 14px;
      left: 46px;
      top: 220px;

      background: $yellow;
      border-radius: 50% 50% 0 50%;
    }

    &__love {
      position: absolute;
      width: 45px;
      height: 19px;
      left: 122px;
      top: 220px;
      display: flex;
      justify-content: center;
      z-index: 1;
      background: $comment;
      border-radius: 10px 10px 10px 0px;

      &__text {
        font-family: 'Mukta', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 17px;

        color: #111111;
      }
    }

    &__woman{
      position: absolute;
      width: 60px;
      height: 100px;
      left: 152px;
      top: 223px;
      background-color: $light-blue;
      background-image: url('../../images/homePage/woman.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border-radius: 90px;

    }

    &__donate {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 47px;
      height: 19px;
      left: 205px;
      top: 240px;

      background: $comment;
      border-radius: 10px 10px 10px 0px;
    }

    &__elderly {
      position: absolute;
      width: 123px;
      height: 65px;
      left: 16px;
      top: 261px;

      background: $light-blue;
      border-radius: 98px 98px 98px 0px;

      &__img {
        background-image: url('../../images/homePage/elderly.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 91px 80px;
        width: 91px;
        height: 80px;
        position: absolute;
        left: 14px;
        top: -15px;
      }
    }

    &__girl {
      position: absolute;
      width: 60px;
      height: 60px;
      left: 228px;
      top: 263px;

      background: $yellow;
      border-radius: 90px;

      background-image: url(../../images/homePage/girl.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &__blue-el {
      position: absolute;
      width: 16px;
      height: 16px;
      left: 41px;
      top: 353px;

      background: $light-blue;
      border-radius: 50% 0 50% 50%;
    }

    &__heart-in-hand {
      position: absolute;
      width: 40px;
      height: 40px;
      left: 71px;
      top: 335px;

      background: $yellow;

      background-image: url('../../images/icons/heart-in-hand.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px 20px;
      border-radius: 50% 50% 0 50%;
    }

    &__blue-el-2 {
      position: absolute;
      width: 40px;
      height: 40px;
      left: 114px;
      top: 335px;
      
      background: $light-blue;
      border-radius: 50% 50% 50% 0;
    }

    &__help {
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      width: 36px;
      height: 19px;
      left: 138px;
      top: 341px;

      background: $comment;
      border-radius: 10px 10px 10px 0px;
    }

    &__military {
      position: absolute;
      width: 136px;
      height: 56px;
      left: 168px;
      top: 331px;

      background: $light-blue;
      border-radius: 98px;
      z-index: -1;

      background-image: url('../../images/homePage/military.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 441px;
    gap: 10px;
    margin-bottom: 48px;

    &__donate {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 10px 12px;

      width: 288px;
      height: 48px;

      background: #6965F6;
      border-radius: 100px;
      border: none;

      font-family: 'Futura', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;

      color: $comment;
    }

    &__help {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 10px 12px;

      width: 288px;
      height: 48px;

      background: $comment;
      border-radius: 100px;
      border: 3px solid #6965F6;

      font-family: 'Futura', sans-serif;
      font-style: bold;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;

      color: #6965F6;
    }
  }
}