# Игнорировать папку node_modules
node_modules/

# Игнорировать папку .npm
.npm/

# Игнорировать папку .idea (для проектов, созданных в IntelliJ IDEA)
.idea/

# Игнорировать папку .vscode (для проектов, созданных в Visual Studio Code)
.vscode/

# Игнорировать папку dist (для сгенерированных файлов сборки проекта)
dist/

# Игнорировать папку build (для сгенерированных файлов сборки проекта)
build/

# Игнорировать файл .env
.env

# Игнорировать файл config.js
config.js
