.photos__container {
  margin-top: 20px;
}

.photos__button {
  width: 288px;
  height: 48px;
  border-radius: 100px;
  background-color: transparent;
  border: 2px solid #D0D5FF;
  padding: 10px 10px 12px 10px;
  color: #D0D5FF;
  font-family: 'Futura-medium', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 25.5px;
  text-align: center;
  margin-bottom: 16px;
}

.photos__grid {
  display: grid;
  grid-template-columns: repeat(2, 136px);
  gap: 16px;
  margin-top: 20px;
  width: 288px;
  justify-content: space-between;
}

.photo__square {
  width: 136px;
  height: 136px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.photos__empty-grid {
  display: grid;
  grid-template-columns: repeat(2, 136px);
  gap: 16px;
  margin-top: 20px;
  width: 288px;
  justify-content: space-between;
}

.photo__empty-square {
  width: 136px;
  height: 136px;
  border-radius: 15px;
  background-color: #ECEEFF;
  background-image: url('../../images/icons/empty.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}
