.make-it-happen__buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 24px;
  gap: 10px;
  margin-bottom: 48px;

  @include onDesktop {
    flex-direction: row;
    gap: 20px;
    order: -1;
  }

  &__donate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 12px;

    width: 288px;
    height: 48px;

    background: #6965F6;
    border-radius: 100px;
    border: none;

    font-family: 'Futura-medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;

    color: $comment;

    &:hover {
      background: #9C99FF;
      cursor: pointer;
    }

    @include onDesktop {
      width: 200px;
      font-size: 17px;
      line-height: 25px;
    }
  }

  &__help {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 12px;

    width: 288px;
    height: 48px;

    background: $comment;
    border-radius: 100px;
    border: 3px solid #6965F6;

    font-family: 'Futura-medium', sans-serif;
    font-style: bold;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;

    color: #6965F6;

    &:hover {
      color: #9C99FF;;
      border: 3px solid #9C99FF;
      cursor: pointer;
    }

    @include onDesktop {
      width: 200px;
      font-size: 17px;
      line-height: 25px;
    }
  }
}