.header {
  width: 100%;
  height: 56px;
  border-bottom: 1px solid #C2C4CF;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  @include onDesktop {
    height: 104px;
    padding: 0 80px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @include onDesktop {
      width: auto;
    }

    &__logo {
      margin-right: 25px;

      @include onDesktop {
        margin-right: 80px;
      }
    }
    

    &__come-back-alive {
      background-image: url('../../images/return_alive.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-color: transparent;
      border: none;
      width: 52px;
      height: 26px;
      cursor: pointer;
      background-color: transparent;
      border: 5px solid transparent;
      border-radius: 3px;
      transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;

      &:hover {
        background-color: #9C99FF;
        border: 5px solid #9C99FF;
        border-radius: 3px;
      }

      @include onDesktop {
        width: 85px;
        height: 40px;
      }
    }
  }

  &__burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    @include onDesktop {
      display: none;
    }

    &__line-1,
    &__line-2,
    &__line-3 {
      width: 18px;
      height: 2px;
      border-radius: 10px;
      background-color: #2F2F35;
      margin-bottom: 4px;
      transition: all 0.3s ease-in-out;
    }

    &__line-1--open {
      transform: translateY(6px) rotate(45deg);
    }

    &__line-2--open {
      opacity: 0;
    }

    &__line-3--open {
      transform: translateY(-6px) rotate(-45deg);
    }
  }

  &__navigation {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 16px 15px;
    width: 100%;
    transition: top 0.5s;

    &--open {
      top: 56px;
      animation: slideDown 0.5s ease;
    }

    @keyframes slideDown {
      0% {
        top: -100%;
      }
      10% {
        top: 46px;
      }
      20% {
        top: 36px;
      }
      30% {
        top: 26px;
      }
      100% {
        top: 56px;
      }
    }

    @include onDesktop {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 104px;
      top: 0;
      padding: 0;
      width: auto;
      transition: none;
      transform: none;
    }

    &__search {
      display: flex;
      justify-content: center;
      margin: 0 auto 32px;
      align-items: center;
      padding: 12px 16px;
      background: url('../../images/icons/search.png') no-repeat 16px center;
      width: 288px;
      height: 48px;
      font-family: 'Mukta';
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #BBBAC8;
      position: relative;
      background-color: #F0F1F7;
      border-radius: 100px;
      border: transparent;

      @include onDesktop {
        margin: 0 0 0 32px;
        align-self: self-end;
        order: 1;
        align-self: center;
        margin-left: 125px;
      }
    }

    &__search-input {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 18px;
      width: auto;
   
      font-family: 'Mukta';
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      background-color: #F0F1F7;
      border: transparent;

      &::placeholder {
        color: #BBBAC8;
      }
    }

    &__list {
      margin-top: 8px;

      @include onDesktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 45px;
      }

      &__item {
        font-family: 'Futura', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 150%;
        margin-bottom: 24px;
        color: #111111;
        transform: color 0.3s ease-in-out;

        &:hover {
          color: #6965F6;
        }

        @include onDesktop {
          font-size: 20px;
          line-height: 100%;
          margin-bottom: 0;
          align-items: center;
        }
      }
    }
  }
}
