* {
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
}

@font-face {
  font-family: Futura;
  src: url('../fonts/futura/Futura.ttf');
}

@font-face {
  font-family: Futura-light;
  src: url('../fonts/futura/Futura-light.ttf');
}

@font-face {
  font-family: Futura-medium;
  src: url('../fonts/futura/Futura-medium.ttf');
}

@font-face {
  font-family: Futura-bold;
  src: url('../fonts/futura/Futura-bold.ttf');
}

@font-face {
  font-family: Mukta;
  src: url('../fonts/mukta/Mukta.ttf');
}

@font-face {
  font-family: Mukta-light;
  src: url('../fonts/mukta/Mukta-Light.ttf');
}

@font-face {
  font-family: Mukta-medium;
  src: url('../fonts/mukta/Mukta-Medium.ttf');
}

@font-face {
  font-family: Mukta-bold;
  src: url('../fonts/mukta/Mukta-Bold.ttf');
}

@font-face {
  font-family: Inter;
  src: url('../fonts/inter/Inter.ttf');
}

