.donation-process {
    display: flex;
    position: absolute;
    top:-890px;
    left: 50%;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: fit-content;
    margin: 0 auto;
    background-color: #FAFAFA;
    border-radius: 20px 20px 0px 0px;
    transform: translateX(-50%);
    z-index: 2;

    @include onDesktop {
      width: 848px;
      top: -990px;
      left: 50%;
      transform: translateX(-50%);
      padding: 48px 108px 64px;
      border-radius: 30px;
    }

    &__navigation {
      align-items: center;
      height: 65px;
      position: relative;

      @include onDesktop {
        height: 38px;
        margin-bottom: 16px;
      }

      &__back {
        background-image: url('../../images/icons/prev.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 12px;
        height: 20px;
        position: absolute;
        top: 26px;
        left: -66px;
        cursor: pointer;

        @include onDesktop {
          background-image: url('../../images/icons/cross.png');
          width: 16px;
          height: 16px;
          position: absolute;
          top: -15px;
          left: 500px;
        }

        &:hover {
          cursor: pointer;
        }
      }
      &__title {
        position: relative;
        font-family: 'Futura-medium', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 25.2px;
        color: #000000;
        margin-top: 24px;
        margin-bottom: 24px;


        @include onDesktop {
          font-size: 32px;
          line-height: 38.4px;
        }
  
        &::before {
          content: '';
          display: block;
          width: 56px;
          height: 4px;
          background-color: #EAEBF2;
          position: absolute;
          top: -12px;
          left: 44px;

          @include onDesktop {
            display: none;
          }
        }
  
        &::after {
          content: '';
          display: block;
          width: 320px;
          height: 1px;
          background-color: #EAEBF2;
          position: absolute;
          top: 41px;
          left: -88px;

          @include onDesktop {
            display: none;
          }
        }
      }
    }

    &__donation-amount {
      display: flex;
      flex-direction: column;
      gap: 16px;
      justify-content: start;
      width: 288px;
      padding: 16px 0px 24px 0px;
      overflow: hidden;

      @include onDesktop {
        width: 690px;
      }

      &__title {
        font-family: "Mukta", sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 19.5px;
        color: #111111;

        @include onDesktop {
          font-size: 16px;
          line-height: 24px;
        }
      }

      &__options {
        display: flex;
        gap: 8px;
        justify-content: space-between;
        width: 318px;
        height: 40px;
        margin-right: 8px;
        position: relative;
        left:-20px;
        overflow-x: scroll;
        overflow-y: hidden;

        &::-webkit-scrollbar {
          height: 1px;
          width: 8px;
          background-color: transparent;
        }
    
        &::-webkit-scrollbar-thumb {
          background-color: transparent;
          border-radius: 4px;
        }
    
        &::-webkit-scrollbar-thumb:hover {
          background-color: transparent;
        }
        @include onDesktop{
          transform: translate(0);
          height: 60px;
          width: 600px;
        }

        &__option {
          display: flex;
          width: 60px;
          height: 40px;
          border-radius: 100px;
          background-color: #ECEEFF;
          flex-wrap: nowrap;
          flex-shrink: 0;
          justify-content: center!important;
          align-items: center !important;
          font-family: "Futura-medium", sans-serif;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          transition: background-color 0.3s ease-in-out;

        @include onDesktop {
          width: 92px !important;
          height: 48px !important;
          margin-right: 0 !important;
          font-size: 17px;
          line-height: 25.5px;
        }

          &:hover {
            cursor: pointer;
            background-color: #6965F6;
            color: #FAFAFA;
          }
        }
      }

      &__input {
        position: relative;
        width: 288px;
        height: 44px;
        border-radius: 100px;
        border: 1px solid #DADAE1;
        padding: 11px 24px 11px 41px;
        background-color: transparent;
        background-image: url('../../images/icons/uah.png');
        background-repeat: no-repeat;
        background-position: 25px;
        background-size: 9px 14px;

        @include onDesktop {
          width: 100%;
          height: 48px;
          padding: 11px 24px 12px 41px;
          background-position: 25px 15px;
          background-size: 9px 14px;
        }

        &::placeholder {
          width: 223px;
          font-family: "Mukta", sans-serif;
          font-weight: 300;
          font-size: 15px;
          line-height: 19.5px;
          color: #DADAE1;
        }
      }
    }
    &__payment-method {
      display: flex;
      flex-direction: column;
      justify-content: start;
      padding: 0 16px 16px;
      width: 100%;
      
      @include onDesktop {
        padding: 0 0 16px;
      }

      &__title {
        margin-bottom: 16px;

        @include onDesktop {
          position: relative;
          left: -20px;
        }
      }
      &__options {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: start;
        width: 100%;
        left: -20px;

        @include onDesktop {
          left: -40px;
        }

        &__radio-button {
          width: 24px;
          height: 24px;
          text-align: center;
          font-family: 'Mukta', sans-serif;
          font-weight: 300;
          font-size: 16px;
          line-height: 24px;
          appearance: none;
          border: 1px solid #C2C4CF;
          border-radius: 50%;
          outline: none;
          cursor: pointer;
          position: relative;
        
          &:checked {
            border-color: #6965F6;
            background-color: #6965F6;
          }
        
          &:checked::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #FAFAFA;
          }
        }
      }
    }
    &__donate-button {
      width: 288px;
      height: 48px;
      border-radius: 100px;
      background-color: #6965F6;
      font-family: 'Futura-medium', sans-serif;
      font-weight: 500;
      font-size: 17px;
      line-height: 25.5px;
      color: #FAFAFA;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      margin-bottom: 32px;

      @include onDesktop {
        width: 200px;
        height: 48px;
        margin-bottom: 0;
        align-self: flex-end;
      }

      &:hover {
        background-color: #9C99FF;;
      }

      &:disabled {
        background-color: #DADAE1;
        color: #BBBAC8;
        cursor: default;
      }
    }
  .radio-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
  }
}
.donation-process__donation-amount {
  &__options-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 300px;

    .donation-process__donation-amount__option {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 0 auto;
      min-width: 60px;
      height: 40px;
      background-color: #ECEEFF;
      border-radius: 100px;
      font-family: "Futura-medium", sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: #6965F6;
      }
    }
  }
}
